p
  = "#{Group.human_attribute_name :name}: #{@group.name}"
p
  = "#{Group.human_attribute_name :description}: #{@group.description}"

= link_to t('.edit'), edit_group_path(@group) if current_user == @group.owner
br
= link_to t('.delete'), group_path(@group), method: :delete if current_user == @group.owner

= render partial: 'rooms/list_for_group', locals: { group: @group }

br
= render partial: 'group_members/index', locals: { group: @group }
br
= link_to t('.create_room_with_group_members'), new_room_path(from_group_show_page: true, room: { group_id: @group.id })
