h1 Rooms#show

= "#{Room.human_attribute_name :name}: #{@room.name}"
br
= "#{Room.human_attribute_name :description}: #{@room.description}"

br
= link_to t('.edit'), edit_room_path(@room)

= render partial: 'chat_members/index', locals: { room: @room }
br

- if @room.let_guests_view_all_true? || current_user == @room.host
  = render partial: 'posts/index'
- else
  = render partial: 'posts/restricted_index', locals: { restricted_posts: @restricted_posts }



= render partial: 'posts/new', locals: { room: @room }
br
= link_to "download", pdf_download_room_path(@room) if (current_user == @room.host) || @room.let_guests_view_all_true?
br
= link_to "assign_code_number", assign_code_number_room_path(@room) if (current_user == @room.host)
